div.error {
  padding-top: 10px;
  color: red;
}

textarea.output {
  padding-top: 10px;
  padding-left: 20px;
  color: green;
  resize: none;
  border: none;
}

button {
  margin-top: 5px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  padding-left: 1%;
  text-align: left;
  font-size: 85%;
}